.main-header {
  z-index: 930;
}

#calculator{
  min-width:240px;
}
.calc{
  margin:3px;
  width:50px;
}
.calc.wide{
  width:163px;
}
.calcInput{
  width: 221px;
}

#login, #signup, #settings, #authors{
  width:500px;
}

.form-horizontal label {
    padding-right:0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    font-size: 12px !important;
    color: #357ca5;
}

.form-horizontal .form-control {
    height: 24px !important;
    padding: 0px 0px !important;
    font-size: 12px;
}

.form-horizontal .form-readonly{
    width: 55px;
}

.input-group-addon {
    padding:0px;
}

.col-md-3, .col-md-6, .col-md-5, .col-md-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-sm-5, .col-md-11, .col-sm-6, .col-sm-12 {
    padding-right: 4px;
    padding-left: 4px;
}


body {
    font-size: 12px;
}

 .custom-combobox {
     position: relative;
     display: inline-block;
 }
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
}

.save-hint {
   	background-color: #f9f9f9;
    border: 5px solid #939393;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    left: 50%;
    line-height: 37px;
    margin-left: -140px;
    margin-top: -100px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 230px;
}
.save-hint img {
    position: relative;
    left: -8px;
}

.react-bs-table-container .row {
    margin-right: 0;
    margin-left: 0;
}

.information ul { padding:0; margin:0; background-color:#fbfbfb; margin-bottom:10px}
.information li { padding:0; margin:0; float:left; padding:0 10px; list-style:none; line-height:32px; font-size:12px;}
.information p{padding:0 5px; margin:0 5px; line-height:30px; border-bottom:1px #f5f5f5 solid; font-size:12px;}
.information p:first-child{ color:#000;}
.information p:last-child{ border:none;}
.information span{ color:#337ac6; display: inline-block; float:left;}
.information b{ color:#eba746}
.information i{ color:#eba746; font-style:normal}
.information em{ display: inline-block; font-style:normal!important; line-height:25px; margin-top:4px;}
.yellow{border-top: 3px solid #eba746;}
.nav-tabs-custom>.nav-tabs>li.active{border-top-color:#eba746}
.nav-tabs-custom>.nav-tabs{ background-color:#eba746;}
.nav-tabs-custom>.nav-tabs>li>a{ color:#fff;}
.nav-tabs-custom>.nav-tabs>li>a:hover{ color:#fff;}
.box-tools i{ color:#555;}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{ font-size:14px;}


.blue{border-top: 3px solid #3c8dbc;}
.zhu{ border-bottom:1px #f1ddbf solid!important; margin-bottom:20px;}
.pt_input{ border:none; background:none; border:1px #ddd solid; width:195px; height:30px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.apply ul, li {padding:0; margin:0; list-style:none;}
.apply li{ margin-bottom:15px;}
.apply i{ color:#f00;}
.apply span{ display:inline-block; width:100px; margin-right:15px; text-align:right;}
.pt_select{
    border: solid 1px #ddd;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width:195px; padding-left:5px; height:30px; line-height:30px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
    background: url(../../images/arow.jpg) no-repeat scroll right center transparent;
}
select::-ms-expand { display: none; }
.birthday_input{ border:none; background:none; border:1px #ddd solid; width:130px; height:30px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.day_input{ border:none; background:none; border:1px #ddd solid; width:55px; height:30px; margin-left:5px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.address ul, li {padding:0; margin:0; list-style:none;}
.address{ border-top:1px #f1ddbf solid; border-bottom:1px #f1ddbf solid; padding-top:30px;padding-bottom:20px; margin-top:20px;margin-bottom:30px;}
.address li { margin-bottom:20px;}
.address i{ color:#f00;}
.address span{ display:inline-block; width:100px; margin-right:15px; text-align:right;}
.address_select{
    border: solid 1px #ddd;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width:145px; margin-right:15px; padding-left:5px; height:30px; line-height:30px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
    background: url(../../images/arow.jpg) no-repeat scroll right center transparent;
}
.address_input{ border:none; background:none; border:1px #ddd solid; width:275px; height:30px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.post_input{ border:none; background:none; border:1px #ddd solid; width:110px; height:30px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.nead{ border:none; padding:0; margin:0;}

.pop{ margin-bottom:10px; font-size:12px; padding:0 15px;}
.pop p{ line-height:35px; font-size:14px; color:#3c8dbc}
.record_select{ border: solid 1px #ddd;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width:100%; margin-right:15px; padding-left:5px; height:30px; line-height:30px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
    background: url(../../images/arow.jpg) no-repeat scroll right center transparent;}
.rec_input{ border:none; background:none; border:1px #ddd solid; width:100%; height:30px; line-height:30px; padding-left:5px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.ptpt{ color:#fff!important;}
.pt_table{ padding:0;}
.sure i{ font-size:18px!important;}
.fankui{ background-color:#fffff5; padding:10px;}
.have{ padding:10px;}
.pt_photo i{ color:#dd4a38; font-size:18px; padding-top:5px;}
.pt_time{ float:right; font-weight:normal;}
.pt_name{ font-size:14px;}

.cailiao{ width:80%; height:500px; margin:0 auto; border:1px #ddd solid; padding:1px;}
.pt_pre{ margin:20px auto; position:relative;}
.pt_left{ position:absolute; left:10px; top:38%;}
.pt_right{ position:absolute; right:10px; top:38%;}

.scol{ padding:10px 30px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444;}

.scol span{font-family:impact, Helvetica, sans-serif; font-size:35px; display:inline-block; color:#dd4a38; margin-left:20px;}

.supply li{ padding:0; margin:0; line-height:40px; float:left;}
.supply span{ display:inline-block;text-align:right; margin-right:5px;}
.supply i{ color:#f00; font-style:normal; font-size:12px;}

.rending{ font-size:12px; padding:0; margin:0; margin-left:8%;}
.rending li{ line-height:28px; float:left; width:30%;}
.rending h3{ font-size:14px; margin-left:-8%}
.rending input{ vertical-align:middle; margin:0; margin-right:5px;}

.para{ float:left; width:49%;}
.search{padding-left:10px}

